{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
<main class="container">
    <section class="row">
        <div class="col-12">
            
             {% include "page/listePersonne.html.twig"%} 
        </div>
        

    </section>

 </main>
{% endblock %}
