{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="col-lg-8 mx-auto shadow py-5">
      <div class="row py-4">
        <h2>Supprimer une Personne!</h2>
        <hr>
        <div class="container-fluid">

         {{form(personneForm)}}
         
        
     
       </div>
      </div>
    </div>
</div>
     

{% endblock %}
