{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}

<ul class="list-group list-group-numbered">

  {% for Liste in listes %}
   <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
            <div class="fw-bold">{{liste.nom}}</div>
          {{liste.prenom}}
      </div>
      
  </li>

  {% else %}
      <p>Aucun liste a été trouvé.</p>
  {% endfor %}		
     

{% endblock %}

{% endblock %}
// #[Route('/liste', name: 'app_listePersonne')]
    // public function listePersonne(ManagerRegistry $mr)
    // {

    //     $listePerson =$this->mr->getRepository(PersonneEntityRepository::class)->findOneBy(['id' => $id]);

    //         $listes = new listes();

    //         $form = $this->createForm(PersonneFormType::class, $listes);

    //         $form->handleRequest( $request);

    //         if($form->isSubmitted() && $form->isValid()){
    //             $listes = $form->getData();

    //             $listes->setlistePerson($listePerson);

    //             $this->entityManager->persist($listes);

    //             ($form->isSubmitted() && $form->isValid());
    //     $liste = $this->$mr->getRepository(PersonneEntityRepository::class)->findALL();
    //     return $this->render('page/listePersonne.html.twig',[

    //     'form'=> $form,
    //     'liste'=> $liste

    //     ]);
    // }
    
    // }